@model IndexViewModel


<div class="mt">
    <h2 class="title">@ViewBag.Text</h2>
    <table class="table">
        <tbody>
            @foreach (var item in Model.People) {
                <tr>
                    <td>
                        @if (item.Filename != null)
                        {
                            <img class="avatar" src="~/uploads/@item.Filename" alt="User avatar">
                        }
                        else
                        {
                            <img class="avatar" src="~/no_image.png" alt="No avatar">
                        }
                    </td>
                    <td class="table_name">
                        @item.Name
                    </td>
                    <td class="table_col_text">
                        @item.Birthday.Day @item.Birthday.ToString("MMMM") @item.Birthday.Year
                    </td>
                    <td>
                        <a class="button" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <form asp-controller="People" asp-action="Delete" method="post" asp-route-id="@item.Id">
                            <input class="button" type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination center">
        @if (Model.PageViewModel.HasNextPage)
        {
            <a class="button" asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber + 1)">Вперед</a>
        }
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a class="button" asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber - 1)">Назад</a>
        }
    </div>
    
</div>
