@model IEnumerable<MVC_CongratulationApplication.Domain.Entity.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img class="avatar" src="~/uploads/@item.Filename" alt="User avatar">
            </td>
            <td>
                @item.Name
            </td>
            <td class="table_col_text">
                    @item.Birthday.Day @item.Birthday.ToString("MMMM") @item.Birthday.Year
            </td>
            <td>
                <a class="button" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <form asp-controller="People" asp-action="Delete" method="post" asp-route-id="@item.Id">
                    <input class="button" type="submit" value="Delete" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
